.benefits {
  margin: 0;
  padding: 3.9rem;
  padding-left: 7rem;

  text-align: left;
  list-style: none;
}

.benefits__item:not(:first-child) {
  margin-top: 2.1rem;
}

.benefits__title {
  margin-top: 0;
  font-size: $font-size__title;
}

.benefits__text {
  font-size: $font-size__text;
  line-height: $line-height__text;

  color: $color__text--grey;
}
