.benefits {
  width: 100%;
  margin: 0;
  padding: 3.5rem;
  padding-right: 3rem;
  padding-left: 2.5rem;

  text-align: left;
  list-style: none;

  @media (--tablet-widths) {
    display: flex;
    justify-content: space-around;
    padding: 6rem 0 5.7rem;
  }

  @media (--desktop-widths) {
    padding-bottom: 7.8rem;
  }
}

.benefits__item {
  display: flex;
  align-items: flex-start;

  @media (--tablet-widths) {
    flex-direction: column;
    align-items: center;
    flex-basis: 16rem;
    margin: 0 auto;

    text-align: center;
  }

  @media (--desktop-widths) {
    flex-basis: 29rem;
  }
}

.benefits__item:nth-child(2) {
  @media (--tablet-widths) {
    flex-basis: 18rem;
    order: 1;

    margin: 0 3.7rem;
  }

  @media (--desktop-widths) {
    flex-basis: 29rem;
    margin: 0 auto;
  }
}

.benefits__item:not(:first-child) {
  @media (--mobile-widths-only) {
    margin-top: 2.6rem;
  }
}

.benefits__icon {
  @media (--mobile-widths-only) {
    height: 3.6rem;
    margin-top: -1rem;
    margin-right: 1rem;
  }
}

.benefits__icon--gift {
  @media (--mobile-widths-only) {
    margin-right: 1rem;
  }
}

.benefits__icon--burger {
  margin-top: 0.5rem;
  margin-left: 0.5rem;

  @media (--mobile-widths-only) {
    margin-top: -0.5rem;
    margin-left: -0.5rem;
  }
}

.benefits__wrapper {
  max-width: 100%;
}

.benefits__wrapper--gift {
  @media (--mobile-widths-only) {
    padding-left: 0.5rem;
  }
}

.benefits__title {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: $font-size__title;

  @media (--tablet-widths) {
    margin-top: 2.5rem;
    margin-bottom: 2rem;

    font-size: $font-size__title--secondary;
  }
}

.benefits__text {
  font-size: $font-size__text;
  line-height: $line-height__text;

  color: $color__text--grey;
}
