.benefits {
  margin: 0;
  padding: 2.4rem;
  padding-left: 4.375rem;

  text-align: left;
  list-style: none;
}

.benefits__item:not(:first-child) {
  margin-top: 1.3rem;
}

.benefits__title {
  margin-top: 0;
  font-size: $font-size__title;
  line-height: $line-height__primary;
  font-family: "ptsansbold", "Arial", sans-serif;
}

.benefits__text {
  font-size: $font-size__text;
  line-height: $line-height__text;
}
