.booking {
  padding: 3rem 2rem 5rem;
}

.booking__title {
  margin-top: 0;

  font-size: $font-size__title--secondary;
}

.booking__text {
  margin-bottom: 3.5rem;

  font-size: $font-size__text;
  line-height: $line-height__text--secondary;

  color: $color__text--grey;
}
