.booking {
  margin: 0 auto;
  padding: 2.7rem 1.9rem 4.7rem;
  max-width: 45.8rem;
}

.booking__title {
  margin: 0;

  font-size: $font-size__title--secondary;

  @media (--tablet-widths) {
    font-size: $font-size__title--tablet;
  }
}

.booking__text {
  margin: 1.8rem 0;
  margin-bottom: 3.5rem;

  font-size: $font-size__text;
  line-height: $line-height__text--secondary;

  color: $color__text--grey;
}
