.btn {
  display: block;
  padding: 1.7rem;

  font-size: $font-size__title--secondary;
  font-weight: bold;
  line-height: $line-height__primary;
  text-decoration: none;

  color: white;
  background-color: $color__primary;
  cursor: pointer;

  &:hover {
    background-color: $color__btn--hover;
  }

  &:active {
    background-color: $color__btn--active;
  }
}

.btn:active .btn__text {
  opacity: 0.3;
}

.btn--disabled,
.btn--disabled:hover,
.btn--disabled:active {
  background-color: $color__bg-grey;
}

.btn--disabled:active .btn__text {
  opacity: 1;
}

.btn--in-progress {
  animation-name: impulse;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes impulse {
  0% {
    background-color: $color__btn-impulse;
  }

  50% {
    background-color: $color__btn-impulse--dark;
  }

  100% {
    background-color: $color__btn-impulse;
  }
}
