.feedback {
  padding: 0 2rem;
}

.feedback__fieldset {
  padding-bottom: 0.6rem;

  border-top: 1px solid $color__bg-grey;
}

.feedback__title {
  font-size: $font-size__title;
}

.feedback__label {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  font-size: $font-size__text;

  color: $color__text--grey;
}

.feedback__label--contacts {
  flex-direction: column;
  align-items: flex-start;
}

.feedback__text--contacts {
  margin-left: 3.8rem;
}

.feedback__input {
  margin-left: 2rem;
  padding: 1.8rem 2rem;

  font-size: $font-size__title;

  color: $color__text--grey;
  background-color: $color__bg-input;
  border: 0;
}

.feedback__input::placeholder {
  font-weight: bold;

  opacity: 1;
}

.feedback__error {
  margin-top: -1.3rem;
  margin-left: 3.8rem;
  margin-bottom: 1.3rem;

  font-size: $font-size__text;
  text-transform: none;
  text-align: left;

  color: $color__text--error;
}

.feedback__choose {
  display: flex;
  margin-bottom: 2rem;
  padding-left: 8rem;

  font-size: $font-size__title;
  font-weight: bold;
  text-transform: none;
}

.feedback__radio,
.feedback__checkbox {
  display: none;
}

.feedback__btn {
  margin-top: 4.8rem;
}

