/*--= COMMON STYLES =--*/

.feedback {
  display: flex;
  flex-direction: column;

  @media (--tablet-widths) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.feedback__fieldset {
  padding: 0 2rem;
  width: 100%;

  border-top: 0.1rem solid $color__bg-grey;

  @media (--tablet-widths) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 0 6rem 0.6rem;
    border: 0;
  }

  @media (--desktop-widths) {
    padding: 0 12rem 0.6rem;
  }
}

.feedback__title {
  font-size: $font-size__title;

  @media (--tablet-widths) {
    font-size: $font-size__title--secondary;
  }
}

.feedback__label {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  font-size: $font-size__text;

  color: $color__text--grey;
}

.feedback__text {
  margin-right: 2rem;
}

.feedback__input {
  width: 17rem;
  flex-grow: 1;
  padding: 1.8rem 2rem;

  font-size: $font-size__title;

  color: $color__text--grey;
  background-color: $color__bg-input;
  border: 0;
}

.feedback__input::placeholder {
  font-weight: bold;

  opacity: 1;
}

/*--= CHECKBOX AND RADIO BLOCKS =--*/

.feedback__choose {  /*label for checkbox & radio*/
  display: flex;
  margin-bottom: 2rem;
  padding: 1rem 0 1rem 8rem;

  font-size: $font-size__title;
  font-weight: bold;
  text-transform: none;
  text-align: left;

  @media (--tablet-widths) {
    padding: 3rem 0 3rem 8rem;
  }
}

.feedback__radio, /*inputs itself*/
.feedback__checkbox {
  display: none;
}

/*--= NAME =--*/

.feedback__fieldset--name {
  @media (--tablet-widths) {
    width: 50%; /*38.4rem*/
    border: 0;
    border-left: 0.1rem solid $color__bg-grey;
  }
}

/*--= CONTACTS =--*/

.feedback__contacts-wrapper {
  @media (--desktop-widths) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.feedback__label--contacts {
  flex-wrap: wrap;

  @media (--tablet-widths) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (--desktop-widths) {
    width: 46%;
  }
}

.feedback__text--contacts {
  margin-left: 1.8rem;

  @media (--tablet-widths) {
    align-self: flex-start;
  }

  @media (--desktop-widths) {
    align-self: center;
  }
}

.feedback__input--tel,
.feedback__input--email {
  @media (--tablet-widths) {
    order: 1;
    flex-basis: 72.8rem;
  }

  @media (--desktop-widths) {
    flex-basis: 22rem;
  }
}

.feedback__error {
  margin-top: 1rem;
  margin-left: 1.8rem;

  font-size: $font-size__text;
  text-transform: none;

  color: $color__text--error;

  @media (--tablet-widths) {
    margin: 0;
  }

  @media (--desktop-widths) {
    order: -1;
    margin-left: 17rem; /*переделать выравнивание*/
    width: 100%;
  }
}

/*--= IMPRESSION =--*/

.feedback__fieldset--impression {
  @media (--tablet-widths) {
    order: -1;
    width: 50%; /*38.4rem*/
    border: 0;
  }
}

/*--= SIGHTS =--*/

.feedback__fieldset--sights {
  @media (--tablet-widths) {
    align-items: center;
    width: 100%;
  }
}

.feedback__title--sights {
  @media (--tablet-widths) {
    padding: 0 5.7rem;
    width: 39rem;
  }
}

.feedback__check-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;

  @media (--tablet-widths) {
    height: 23rem;
  }

  @media (--desktop-widths) {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }
}

/*--= TEXTAREA =--*/

.feedback__input--textarea {
  margin-bottom: 5rem;
  width: 100%;
  height: 16rem;

  @media (--tablet-widths) {
    margin-bottom: 5.8rem;
  }
}

/*--= BTN =--*/

.feedback__btn {
  margin: 0 2rem;

  @media (--tablet-widths) {
    margin: 0 6rem;
    width: 32.4rem;
  }

  @media (--desktop-widths) {
    margin: 0 12rem;
    width: 48rem;
  }
}

/*--= REQUIRED =--*/

.feedback__required {
  display: none;

  @media (--tablet-widths) {
    display: block;
    align-self: center;
    flex-grow: 1;
    margin-right: 6rem;

    font-size: $font-size__text;
    text-align: right;
  }

  @media (--desktop-widths) {
    margin-right: 12rem;
  }
}
