.footer {
  display: flex;
  flex-direction: column;

  min-height: 17.6rem;
  margin-top: 3.6rem;

  @media (--tablet-widths) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 12rem;
  }
}

.footer__twit {
  display: block;

  font-size: $font-size__title--secondary;
  font-weight: bold;
}

.footer__copyright {
  display: flex;
  justify-content: center;

  font-size: $font-size__text;
}

.footer__copyright-link {
  margin-left: 1rem;
}
