.header {
  background-color: white;
}

.header__bar {
  position: relative;
  height: 3.5rem;
}

.header__logo-img {
  position: relative;
  z-index: 10;
  display: block;
  margin-left: calc(50% - 3.25rem);
}
