.intro__promo {
  height: 24.375rem;

  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
}

.intro__promo--secondary {
  height: 9.875rem;

  background-position: 50% 100%;
}

.intro__svg-title {
  display: block;
  margin: auto;
  padding-top: 5.625rem;
}

.intro__svg-title--secondary {
  padding-top: 3.25rem;
}

.intro__description {
  margin-top: 2.625rem;
  padding: 0 1.425rem 2rem;

  color: black;
  background-color: white;
}

.intro__title {
  font-size: $font-size__title;
}

.intro__text {
  margin-top: 1.9rem;
  font-size: $font-size__text;

  color: $color__text--grey;
}

.intro__text--secondary {
  line-height: $line-height__text--secondary;
}

@media (min-width: 768px) {
  .intro__promo {
    height: 32.375rem;

    background: url("../img/back-tablet-jpg.jpg") no-repeat 50% 0;
  }

  .intro__svg-title  {

    width: 28.75rem;
    height: 21.875rem;
  }
}
