.intro__promo {
  display: flex;
  width: 100%;
  height: 39rem;

  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 100%, 50% 0;

  @media (--retina) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
  }

  @media (--tablet-widths) {
    height: 51.8rem;

    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");

    @media (--retina) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (--desktop-widths) {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");

    @media (--retina) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.intro__promo--secondary {
  height: 15.8rem;

  background-position: 50% 100%;

  @media (--tablet-widths) {
    height: 29rem;
  }
}

.intro__svg-title {
  display: block;
  margin: auto;

  @media (--tablet-widths) {
    width: 46rem;
    height: 35rem;
    margin-top: 7.8rem;
  }
}

.intro__svg-title--secondary {
  margin: 0 auto 2rem;
}

.intro__description {
  margin: 4rem auto 0;
  padding: 0 2.5rem;

  max-width: 55rem;

  color: black;
  background-color: white;

  @media (--tablet-widths) {
    margin-top: 5rem;
    margin-bottom: 4.5rem;
  }
}

.intro__description--secondary {
  max-width: 48rem;
  padding: 0;
}

.intro__title {
  font-size: $font-size__title;

  @media (--tablet-widths) {
    font-size: $font-size__title--secondary;
  }
}

.intro__title--secondary {
  @media (--tablet-widths) {
    font-size: $font-size__title--tablet;
  }
}

.intro__text {
  margin: 0;
  margin-top: 2.5rem;
  font-size: $font-size__text;

  color: $color__text--grey;

  @media (--tablet-widths) {
    margin-top: 2.8rem;
  }
}

.intro__text--secondary {
  line-height: $line-height__text--secondary;
}
