.intro__promo {
  display: flex;
  height: 39rem;

  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
}

.intro__promo--secondary {
  height: 15.8rem;

  background-position: 50% 100%;
}

.intro__svg-title {
  display: block;
  margin: auto;
}

.intro__description {
  margin: 4.2rem auto 3.2rem;
  padding: 0 3.2rem;

  max-width: 55rem;

  color: black;
  background-color: white;
}

.intro__title {
  font-size: $font-size__title;

  @media (--tablet-widths) {
    font-size: $font-size__title--secondary;
  }
}

.intro__text {
  margin-top: 3rem;
  font-size: $font-size__text;

  color: $color__text--grey;
}

.intro__text--secondary {
  line-height: $line-height__text--secondary;
}

@media (--tablet-widths) {
  .intro__promo {
    height: 51.8rem;
  }

  .intro__svg-title  {

    width: 46rem;
    height: 35rem;
  }
}
