.main-nav {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  @media (--tablet-widths) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.main-nav__item {
  padding: 0.8rem 0;

  font-weight: bold;
  font-size: $font-size__title;
  line-height: $line-height__menu;
  text-decoration: none;

  color: white;
  background-color: $color__primary;
  box-shadow: inset 0 0.1rem 0 hsla(0, 0%, 100%, 0.2),
              0 0.1rem 0 hsla(0, 0%, 0%, 0.2);

  @media (--tablet-widths) {
    flex-basis: 15.3rem;

    font-weight: bold;
    font-size: $font-size__text;
    text-decoration: none;

    color: black;
    background-color: white;
    box-shadow: none;
  }
}

.main-nav__item--logo {
  padding: 0;
  height: 5.6rem;

  background-color: white;
  box-shadow: none;
}

.main-nav__toggle {
    position: absolute;
    top: 1.6rem;
    right: 2rem;

    display: block;
    width: 2.2rem;
    height: 2.2rem  ;

    font-size: 0;

    background: url("../img/icon-cross.svg") no-repeat;
    cursor: pointer;
}

.main-nav--closed .main-nav__item:not(:last-child) {
  @media (--mobile-widths-only) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  background: url("../img/icon-menu.svg") no-repeat;
}

.main-nav__item:nth-last-child(2) {
  @media (--mobile-widths-only) {
    box-shadow: inset 0 0.1rem 0 hsla(0, 0%, 100%, 0.2);
  }
}

.main-nav__item:nth-last-child(2),
.main-nav__item:nth-last-child(3) {
  @media (--tablet-widths) {
    order: 1;
  }
}

.main-nav__toggle {
  @media (--tablet-widths) {
    display: none;
  }
}
