.photo {
  padding: 2.2rem 2rem;

  border-top: 0.1rem solid $color__bg-grey;
}

.photo__info {
  margin-top: 2rem;

  font-size: $font-size__text;
  line-height: $line-height__text--secondary;
  text-align: left;
}

.photo__title {
  margin: 0;
  padding: 0;
}

.photo__author {
  text-transform: none;
}

.photo__like-counter {
  padding-left: 1.6rem;

  font-weight: bold;
}
