$color__primary: hsl(203, 47%, 66%);
$color__text: hsl(0, 0%, 0%);
$color__text--grey: color($color__text l(20%));
$color__bg-grey: color($color__text l(90%));
$color__text--error: hsl(0, 100%, 68%);
$color__bg-input: color($color__text l(95%));

$font-size__title: 1.8rem;
$font-size__title--secondary: calc($font-size__title * 21 / 18);
$font-size__title--tablet: calc($font-size__title * 30 / 18);
$font-size__text: calc($font-size__title * 14 / 18);

$line-height__primary: calc($font-size__title * 26 / 18);
$line-height__menu: calc($font-size__title * 40 / 18);
$line-height__text: $font-size__title--secondary;
$line-height__text--secondary: calc($font-size__title * 24 / 18);

@custom-media --mobile-widths-only (width < 768px);
@custom-media --tablet-widths (width >= 768px);
@custom-media --desktop-widths (width >= 1200px);
